{% extends "layout.html" %}
{% load static %}
{% block content %}

<div class="container d-flex justify-content-center  align-items-center">

    
    <form action="/agregarDatos/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div id="modal" class="cardy">
            
            <h3>Categoria</h3>
            <input type="text" placeholder="Categoria" name="categoria" id="categoria" required>
            <h3>Transportador</h3>
            <input type="text" placeholder="Transportador" name="transportador" id="transportador" required>

        </div>

            <button type="submit" class="btn btn-primary mt-2">Agregar</button>

    </form>
</div>

    

{% endblock %}