{% extends "layout.html" %}
{% load static %}
{% block content %}

<div class="container d-flex justify-content-center  align-items-center">
    
    <form action="" method="POST" class="text-center">

        <h1>Iniciar Sesión Vendedor</h1>

        {% csrf_token %}

        <input type="text" placeholder="Nombre de usuario" name="usuario" required class="form-control mb-3">

        <input type="password" placeholder="Contraseña" name="contasena" required class="form-control mb-3">

        <button type="submit" class="btn btn-outline-danger">
            Iniciar Sesión
        </button>
        
        <a href="{% url 'formulario' %}" class="btn btn-outline-primary">
            Registrarse 
        </a><br><br>
        
        <h3>Solamente para vendedores</h3>
        
    </form>
    
</div>

{% endblock %}