{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert alert-dismissible fade show {{ message.tags }}"{% endif %}>{{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
    {% endfor %}
</div>
<div class="container d-flex justify-content-center  align-items-center">
    
    <form action="{% url 'registrarse' %}" method="POST" class="m-4">

        <h1>Registrarse</h1>

        {% csrf_token %}

        {{ registroform.as_p }}

        <button class="btn btn-outline-danger">
            Registrarse
        </button>

        <a href="{% url 'inicio' %}" class="btn btn-outline-primary">
            Ir a Inicio
        </a>

        <a href="{% url 'ingresar' %}" class="btn btn-outline-warning">
            Tengo una Cuenta
        </a>
        

    </form>

</div>

{% endblock %}