{% extends "layout.html" %}
{% block content %}

<div class="container mt-4">
    <div class="container"> 
        <h3>¡Vende con Nosotros!</h3>
        <p>¡Únete a <strong>Urbaket Store</strong> y lleva tu negocio al siguiente nivel! Ya seas un vendedor pequeño, mediano o grande, nuestra plataforma de ecommerce te ofrece la oportunidad de llegar a más clientes, aumentar tus ventas y hacer crecer tu marca. Con un proceso fácil y seguro, podrás gestionar tus productos de manera eficiente y sin complicaciones. No importa el tamaño de tu negocio, en <strong>Urbaket Store</strong> tenemos el espacio perfecto para ti. ¡Regístrate hoy y empieza a vender!</p>

        <a href="#" class="btn btn-outline-danger">Registrarme Como Vendedor</a>
    </div>
</div>

{% endblock %}